:root {
	--i-bvc-hovercolor: #36393f;
	--i-bvc-selectcolor: rgba(79,84,92,.6);
}

.channels-3g2vYe {
    .contentHoveredVoice-3qGNKh {
        background-color: var(--i-bvc-hovercolor);
    }
    .contentSelectedVoice-gTtYM9, .contentSelectedVoice-gTtYM9:active {
        background-color: var(--i-bvc-selectcolor);
    }
}