@font-face {
    font-family: 'Segoe MDL2 Assets';
    src: url('https://cors-anywhere.herokuapp.com/https://nirewen.s-ul.eu/WJJ3bKJl.ttf');
}

.chat.private>.titleWrapper-3Vi_wz .topic-1KFf6J:before{display:none;}
.chat.private>.titleWrapper-3Vi_wz .topic-1KFf6J{visibility:visible;}
