/*
   Nature emojis,
   Contributors: @Giaco Audiovisuel#0178
*/ 

.emoji[alt=" :chestnut:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/91/Emoji_u1f330.svg);}
.emoji[alt=" :deciduous_tree:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/fe/Emoji_u1f333.svg);}
.emoji[alt=" :goat:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/9e/Emoji_u1f410.svg);}
.emoji[alt=" :maple_leaf:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/b/b6/Emoji_u1f341.svg);}
.emoji[alt=" :poodle:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/2d/Emoji_u1f429.svg);}
.emoji[alt=" :waning_crescent_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Emoji_u1f318.svg);}
.emoji[alt=" :whale2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/4c/Emoji_u1f433.svg);}
.emoji[alt=":ant:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/39/Emoji_u1f41c.svg);}
.emoji[alt=":baby_chick:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Emoji_u1f424.svg);}
.emoji[alt=":bamboo:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/91/Emoji_u1f38d.svg);}
.emoji[alt=":bat:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/da/Emoji_u1f987.svg);}
.emoji[alt=":bear:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/25/Emoji_u1f43b.svg);}
.emoji[alt=":bee:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d3/Emoji_u1f41d.svg);}
.emoji[alt=":beetle:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Emoji_u1f41e.svg);}
.emoji[alt=":bird:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/41/Emoji_u1f426.svg);}
.emoji[alt=":blossom:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/87/Emoji_u1f33c.svg);}
.emoji[alt=":blowfish:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/56/Emoji_u1f421.svg);}
.emoji[alt=":boar:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/09/Emoji_u1f417.svg);}
.emoji[alt=":boom:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d8/Emoji_u1f4a5.svg);}
.emoji[alt=":bouquet:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/90/Emoji_u1f490.svg);}
.emoji[alt=":bug:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Emoji_u1f41b.svg);}
.emoji[alt=":butterfly:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/32/Emoji_u1f98b.svg);}
.emoji[alt=":cactus:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/53/Emoji_u1f335.svg);}
.emoji[alt=":camel:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/25/Emoji_u1f42b.svg);}
.emoji[alt=":cat2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e4/Emoji_u1f408.svg);}
.emoji[alt=":cat:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/96/Emoji_u1f431.svg);}
.emoji[alt=":cherry_blossom:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/ae/Emoji_u1f338.svg);}
.emoji[alt=":chicken:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/aa/Emoji_u1f414.svg);}
.emoji[alt=":chipmunk:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/86/Emoji_u1f43f.svg);}
.emoji[alt=":christmas_tree:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/ee/Emoji_u1f384.svg);}
.emoji[alt=":cloud:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/ad/Emoji_u2601.svg);}
.emoji[alt=":cloud_rain:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/50/Emoji_u1f327.svg);}
.emoji[alt=":cloud_snow:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/49/Emoji_u1f328.svg);}
.emoji[alt=":cloud_tornado:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/3c/Emoji_u1f32a.svg);}
.emoji[alt=":comet:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Emoji_u2604.svg);}
.emoji[alt=":cow2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/7a/Emoji_u1f404.svg);}
.emoji[alt=":cow:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/46/Emoji_u1f42e.svg);}
.emoji[alt=":crab:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Emoji_u1f980.svg);}
.emoji[alt=":crocodile:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/21/Emoji_u1f40a.svg);}
.emoji[alt=":dash:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/04/Emoji_u1f4a8.svg);}
.emoji[alt=":deer:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/55/Emoji_u1f98c.svg);}
.emoji[alt=":dizzy:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/1/15/Emoji_u1f4ab.svg);}
.emoji[alt=":dog2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/81/Emoji_u1f415.svg);}
.emoji[alt=":dog:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Emoji_u1f436.svg);}
.emoji[alt=":dolphin:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Emoji_u1f42c.svg);}
.emoji[alt=":dove:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/0f/Emoji_u1f54a.svg);}
.emoji[alt=":dragon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/ae/Emoji_u1f409.svg);}
.emoji[alt=":dragon_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Emoji_u1f432.svg);}
.emoji[alt=":dromedary_camel:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/45/Emoji_u1f42a.svg);}
.emoji[alt=":droplet:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/04/Emoji_u1f4a7.svg);}
.emoji[alt=":duck:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/6a/Emoji_u1f986.svg);}
.emoji[alt=":eagle:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/51/Emoji_u1f985.svg);}
.emoji[alt=":ear_of_rice:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/58/Emoji_u1f33e.svg);}
.emoji[alt=":earth_africa:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Emoji_u1f30d.svg);}
.emoji[alt=":earth_americas:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/c/c8/Emoji_u1f30e.svg);}
.emoji[alt=":earth_asia:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/31/Emoji_u1f30f.svg);}
.emoji[alt=":elephant:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/1/15/Emoji_u1f418.svg);}
.emoji[alt=":evergreen_tree:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/1/18/Emoji_u1f332.svg);}
.emoji[alt=":fallen_leaf:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e4/Emoji_u1f342.svg);}
.emoji[alt=":feet:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Emoji_u1f43e.svg);}
.emoji[alt=":fire:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d3/Emoji_u1f525.svg);}
.emoji[alt=":first_quarter_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/72/Emoji_u1f313.svg);}
.emoji[alt=":first_quarter_moon_with_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f8/Emoji_u1f31b.svg);}
.emoji[alt=":fish:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/50/Emoji_u1f41f.svg);}
.emoji[alt=":fog:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/85/Emoji_u1f32b.svg);}
.emoji[alt=":four_leaf_clover:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f9/Emoji_u1f340.svg);}
.emoji[alt=":fox:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/65/Emoji_u1f98a.svg);}
.emoji[alt=":frog:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/2e/Emoji_u1f438.svg);}
.emoji[alt=":full_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/41/Emoji_u1f315.svg);}
.emoji[alt=":full_moon_with_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/58/Emoji_u1f31d.svg);}
.emoji[alt=":gorilla:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e7/Emoji_u1f98d.svg);}
.emoji[alt=":hamster:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Emoji_u1f439.svg);}
.emoji[alt=":hatched_chick:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/3e/Emoji_u1f425.svg);}
.emoji[alt=":hatching_chick:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/66/Emoji_u1f423.svg);}
.emoji[alt=":hear_no_evil:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/56/Emoji_u1f649.svg);}
.emoji[alt=":herb:"],.emoji[alt=":leaves:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/eb/Emoji_u1f33f.svg);}
.emoji[alt=":hibiscus:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d6/Emoji_u1f33a.svg);}
.emoji[alt=":horse:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/df/Emoji_u1f40e.svg);}
.emoji[alt=":jack_o_lantern:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/93/Emoji_u1f383.svg);}
.emoji[alt=":koala:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e9/Emoji_u1f428.svg);}
.emoji[alt=":last_quarter_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Emoji_u1f317.svg);}
.emoji[alt=":last_quarter_moon_with_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/1/1f/Emoji_u1f31c.svg);}
.emoji[alt=":leopard:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/92/Emoji_u1f406.svg);}
.emoji[alt=":lion_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/81/Emoji_u1f981.svg);}
.emoji[alt=":lizard:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/84/Emoji_u1f98e.svg);}
.emoji[alt=":monkey:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/7d/Emoji_u1f412.svg);}
.emoji[alt=":monkey_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f3/Emoji_u1f435.svg);}
.emoji[alt=":mouse2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Emoji_u1f401.svg);}
.emoji[alt=":mouse:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/78/Emoji_u1f42d.svg);}
.emoji[alt=":mushroom:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/4c/Emoji_u1f344.svg);}
.emoji[alt=":new_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/81/Emoji_u1f311.svg);}
.emoji[alt=":new_moon_with_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Emoji_u1f31a.svg);}
.emoji[alt=":ocean:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/7e/Emoji_u1f30a.svg);}
.emoji[alt=":octopus:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Emoji_u1f419.svg);}
.emoji[alt=":owl:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Emoji_u1f989.svg);}
.emoji[alt=":ox:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Emoji_u1f402.svg);}
.emoji[alt=":palm_tree:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Emoji_u1f334.svg);}
.emoji[alt=":panda_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/73/Emoji_u1f43c.svg);}
.emoji[alt=":partly_sunny:"],.emoji[alt=":white_sun_cloud:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/c/cf/Emoji_u26c5.svg);}
.emoji[alt=":penguin:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/39/Emoji_u1f427.svg);}
.emoji[alt=":pig2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a5/Emoji_u1f416.svg);}
.emoji[alt=":pig:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Emoji_u1f437.svg);}
.emoji[alt=":pig_nose:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/b/b6/Emoji_u1f43d.svg);}
.emoji[alt=":rabbit2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Emoji_u1f407.svg);}
.emoji[alt=":rabbit:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/fa/Emoji_u1f430.svg);}
.emoji[alt=":racehorse:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/2d/Emoji_u1f3c7.svg);}
.emoji[alt=":ram:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/77/Emoji_u1f40f.svg);}
.emoji[alt=":rat:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/31/Emoji_u1f400.svg);}
.emoji[alt=":rhino:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/ea/Emoji_u1f98f.svg);}
.emoji[alt=":rooster:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/65/Emoji_u1f413.svg);}
.emoji[alt=":rose:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Emoji_u1f339.svg);}
.emoji[alt=":scorpion:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/50/Emoji_u1f982.svg);}
.emoji[alt=":see_no_evil:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/6e/Emoji_u1f648.svg);}
.emoji[alt=":seedling:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/0e/Emoji_u1f331.svg);}
.emoji[alt=":shamrock:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/69/Emoji_u2618.svg);}
.emoji[alt=":shark"]{content:url(https://upload.wikimedia.org/wikipedia/commons/c/c7/Emoji_u1f988.svg);}
.emoji[alt=":sheep:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/36/Emoji_u1f411.svg);}
.emoji[alt=":shell:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Emoji_u1f41a.svg);}
.emoji[alt=":shrimp:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/b/b3/Emoji_u1f990.svg);}
.emoji[alt=":snail:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/49/Emoji_u1f40c.svg);}
.emoji[alt=":snake:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f4/Emoji_u1f40d.svg);}
.emoji[alt=":snowflake:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Emoji_u2744.svg);}
.emoji[alt=":snowman2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Emoji_u2603.svg);}
.emoji[alt=":snowman:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/e/e4/Emoji_u26c4.svg);}
.emoji[alt=":sparkles:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/b/bf/Emoji_u2728.svg);}
.emoji[alt=":speak_no_evil:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/2c/Emoji_u1f64a.svg);}
.emoji[alt=":spider:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d9/Emoji_u1f577.svg);}
.emoji[alt=":spider_web:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/87/Emoji_u1f578.svg);}
.emoji[alt=":squid:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Emoji_u1f991.svg);}
.emoji[alt=":star2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/0d/Emoji_u1f31f.svg);}
.emoji[alt=":star:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/5b/Emoji_u2b50.svg);}
.emoji[alt=":sun_with_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/4e/Emoji_u1f31e.svg);}
.emoji[alt=":sunflower:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/da/Emoji_u1f33b.svg);}
.emoji[alt=":sunny:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/c/c2/Emoji_u2600.svg);}
.emoji[alt=":sweat_drops:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/24/Emoji_u1f4a6.svg);}
.emoji[alt=":tanabata_tree:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/85/Emoji_u1f38b.svg);}
.emoji[alt=":thunder_cloud_rain:"],.emoji[alt=":cloud_lightning:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/1/11/Emoji_u1f329.svg);}
.emoji[alt=":tiger2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/4/4e/Emoji_u1f405.svg);}
.emoji[alt=":tiger:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/3/38/Emoji_u1f42f.svg);}
.emoji[alt=":tropical_fish:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/8c/Emoji_u1f420.svg);}
.emoji[alt=":tulip:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/66/Emoji_u1f337.svg);}
.emoji[alt=":turkey:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Emoji_u1f983.svg);}
.emoji[alt=":turtle:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f9/Emoji_u1f422.svg);}
.emoji[alt=":umbrella2:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/5d/Emoji_u2602.svg);}
.emoji[alt=":umbrella:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/0/03/Emoji_u2614.svg);}
.emoji[alt=":unicorn:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/5/55/Emoji_u1f984.svg);}
.emoji[alt=":waning_gibbous_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/7/71/Emoji_u1f316.svg);}
.emoji[alt=":water_buffalo:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/fe/Emoji_u1f403.svg);}
.emoji[alt=":waxing_crescent_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Emoji_u1f312.svg);}
.emoji[alt=":waxing_gibbous_moon:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/dc/Emoji_u1f314.svg);}
.emoji[alt=":whale:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/8/89/Emoji_u1f40b.svg);}
.emoji[alt=":white_sun_rain_cloud:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/f/f2/Emoji_u1f326.svg);}
.emoji[alt=":white_sun_small_cloud:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/6/6f/Emoji_u1f324.svg);}
.emoji[alt=":wilted_rose:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d6/Emoji_u1f940.svg);}
.emoji[alt=":wind_blowing_face:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/2/2b/Emoji_u1f32c.svg);}
.emoji[alt=":wolf:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/c/ce/Emoji_u1f43a.svg);}
.emoji[alt=":zap:"]{content:url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Emoji_u26a1.svg);}