.messages-popout-wrap{width:417px;}
.popout .themed-popout{border:0!important;box-shadow:0 0!important;max-height:calc(100vh - 58px)!important;min-height:calc(100vh - 56px)!important;position:absolute;right:0!important;left:initial!important;}
.popout.popout-bottom-right.no-arrow.no-shadow{right:1px!important;left:initial!important;}