//META{"name":"nativeTitlebar","description":"Adds a titlebar to your Discord app.","author":"intrnl","version":"0.0"}*//{}

@import url(https://rawgit.com/intrnl/discordAdditions/master/nativeTitlebar/themefile.css);