:root {
    --i-dtl-bgcolor: #282b30;
    
    --i-dtl-btnhover: rgba(255,255,255,0.1);
    --i-dtl-closehover: #e81123;
    --i-dtl-closeactive: #bf0f1d;
    --i-dtl-btnactive: rgba(255,255,255,0.15);
    
    --i-dtl-btnclose: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwIDcuNDFMMTguNTkgNiAxMyAxMS41OSA3LjQxIDYgNiA3LjQxIDExLjU5IDEzIDYgMTguNTkgNy40MSAyMCAxMyAxNC40MSAxOC41OSAyMCAyMCAxOC41OSAxNC40MSAxMyAyMCA3LjQxeiIvPgogIDwvZz4KPC9zdmc+);
    --i-dtl-btnmaximize: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTggMTNINnY3aDd2LTJIOHYtNXptLTIgMGgyVjhoNVY2SDZ2N3ptNyA1djJoN3YtN2gtMnY1aC01em0wLTEydjJoNXY1aDJWNmgtN3oiLz4KICA8L2c+Cjwvc3ZnPg);
    --i-dtl-btnminimize: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xOSAxOXYtMkg3djJoMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMSAyNWgyNFYxSDF2MjR6Ii8+CiAgPC9nPgo8L3N2Zz4=);
}

#app-mount {
    --dd-titlebar-height: 34px;
}

.titlebar{background-color:var(--i-dtl-bgcolor);background-image:url(/assets/1c8a54f25d101bdc607cec7228247a9a.svg);background-position-x:8px;background-position-y:center;background-repeat:no-repeat;background-size:24px;height:30px;}
.titlebar .win-buttons{height:30px;right:0;top:0;}
.titlebar .win-buttons button{background-position-y:7px;background-repeat:no-repeat;background-size:20px;height:30px;width:48px;cursor:default;}

.titlebar .win-buttons .win-close{background-image:var(--i-dtl-btnclose);}
.titlebar .win-buttons .win-maximize{background-image:var(--i-dtl-btnmaximize);}
.titlebar .win-buttons .win-minimize{background-image:var(--i-dtl-btnminimize);}

.titlebar .win-buttons .win-close:hover{background-color:var(--i-dtl-closehover);}
.titlebar .win-buttons button:hover{background-color:var(--i-dtl-btnhover);}

.titlebar .win-buttons .win-close:active{background-color:var(--i-dtl-closeactive);}
.titlebar .win-buttons button:active{background-color:var(--i-dtl-btnactive);}

.auth-center{top:30px;}
.auth-tiling-bg{top:30px;}
.auth-background{top:30px;}
.base-3AoPqv{border-radius:0;}
.channels-3g2vYe{border-radius:0;}
.connecting{margin-top:30px;}
.layers .channels-wrap{overflow:hidden;}
.layers .chat>.title-wrap{min-height:48px;}
.layers .guilds-wrapper .guilds{padding-top:18px;padding-bottom:18px;}
.layers .header-1tSljs{height:48px;}
.layers .header-toolbar .separator.separator-win{display:none;}
.layers{margin-top:30px;}
.modal-2LIEKY{padding-top:calc(60px - 30px);margin-top:30px;}
.popout .themed-popout{max-height:calc(100vh - 30px - 48px - 20px)!important;}

.titleBar-3_fDwJ .winButton-U7zAqI svg{display:none;}

.titleBar-3_fDwJ .winButton-U7zAqI{height:30px;width:48px;cursor:default;background-repeat:no-repeat;background-size:20px;background-position:center;transition:200ms ease;top:0;}
.titleBar-3_fDwJ .wordmark-2L03Wr svg[name='DiscordWordmark']{display:none;}
.titleBar-3_fDwJ .wordmark-2L03Wr{box-sizing:border-box;height:30px;width:calc(100% - 48px * 3);background-image:url(/assets/1c8a54f25d101bdc607cec7228247a9a.svg);background-repeat:no-repeat;background-size:22px;background-position-y:center;background-position-x:8px;}
.titleBar-3_fDwJ.typeWindows-15E0Ys{height:30px;margin-top:0;}
.titleBar-3_fDwJ{background-color:var(--i-dtl-bgcolor);}

.titleBar-3_fDwJ div:nth-of-type(2){background-image:var(--i-dtl-btnclose);}
.titleBar-3_fDwJ div:nth-of-type(3){background-image:var(--i-dtl-btnmaximize);}
.titleBar-3_fDwJ div:nth-of-type(4){background-image:var(--i-dtl-btnminimize);}

.titleBar-3_fDwJ .winButton-U7zAqI.winButtonClose-2rIvsa:hover{background-color:var(--i-dtl-closehover);}
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonMinMax-bT_gQ1:hover{background-color:var(--i-dtl-btnhover);}

.titleBar-3_fDwJ .winButton-U7zAqI.winButtonClose-2rIvsa:active{background-color:var(--i-dtl-closeactive);}
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonMinMax-bT_gQ1:active(background-color:var(--i-dtl-btnactive);}

.titleBar-3_fDwJ~.app-XZYfmp .connecting{margin-top:0;}
.titleBar-3_fDwJ~.app-XZYfmp .layers{margin-top:0;}


.titleBar-3_fDwJ:after{content:'';position:absolute;width:calc(100% - 48px * 3);left:0;top:0;height:6px;z-index:3002;-webkit-app-region:no-drag;}