:root {
    --i-dtl-bgcolor: #282b30;
    --i-dtl-imgopacity: .6;
    
    --i-dtl-buttonwidth: 48px;
    --i-dtl-resizeheight: 6px;
    --i-dtl-titlebarheight: 30px;
    
    --i-dtl-btnhover: rgba(255,255,255,0.1);
    --i-dtl-btnactive: rgba(255,255,255,0.15);
    --i-dtl-closehover: #e81123;
    --i-dtl-closeactive: #bf0f1d;
}

.titlebar:after,
.titleBar-3_fDwJ .wordmark-2L03Wr {
    background-image: url(/assets/1c8a54f25d101bdc607cec7228247a9a.svg);
    background-size: 24px;
}

.titlebar .win-buttons .win-close,
.titleBar-3_fDwJ div:nth-of-type(2) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwIDcuNDFMMTguNTkgNiAxMyAxMS41OSA3LjQxIDYgNiA3LjQxIDExLjU5IDEzIDYgMTguNTkgNy40MSAyMCAxMyAxNC40MSAxOC41OSAyMCAyMCAxOC41OSAxNC40MSAxMyAyMCA3LjQxeiIvPgogIDwvZz4KPC9zdmc+);
}
.titlebar .win-buttons .win-maximise,
.titleBar-3_fDwJ div:nth-of-type(3) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTggMTNINnY3aDd2LTJIOHYtNXptLTIgMGgyVjhoNVY2SDZ2N3ptNyA1djJoN3YtN2gtMnY1aC01em0wLTEydjJoNXY1aDJWNmgtN3oiLz4KICA8L2c+Cjwvc3ZnPg);
}
.titlebar .win-buttons .win-minimize,
.titleBar-3_fDwJ div:nth-of-type(4) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xOSAxOXYtMkg3djJoMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMSAyNWgyNFYxSDF2MjR6Ii8+CiAgPC9nPgo8L3N2Zz4=);
}

.titlebar .win-buttons button:hover,
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonMinMax-bT_gQ1:hover {
    background-color: var(--i-dtl-btnhover);
}
.titlebar .win-buttons button:active,
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonMinMax-bT_gQ1:active {
    background-color: var(--i-dtl-btnactive);
}
.titlebar .win-buttons .win-close:hover,
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonClose-2rIvsa:hover {
    background-color: var(--i-dtl-closehover);
}
.titlebar .win-buttons .win-close:active,
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonClose-2rIvsa:active {
    background-color: var(--i-dtl-closeactive);
}

/* Appearances */
.base-3AoPqv, .channels-3g2vYe {
    border-radius: 0;
}
.chat>.title-wrap {
    min-height: 48px;
}
.header-1tSljs {
    height: 48px;
}

/* Fixes */
.titlebar ~ div .connecting,
.titlebar ~ div .app .layers,
.auth-background,
.auth-center,
.auth-tiling-bg {
    margin-top: var(--i-dtl-titlebarheight);
}
.popout .themed-popout {
    max-height: calc(100vh - var(--i-dtl-titlebarheight) - 48px - 20px) !important;
}
.modal-2LIEKY {
    margin: var(--i-dtl-titlebarheight);
    padding-top: calc(60px - var(-i-dtl-titlebarheight));
}
.header-toolbar .separator.separator-win {
    display: none;
}

/* Stable */
.titlebar {
    background-color: var(--i-dtl-bgcolor);
    height: var(--i-dtl-titlebarheight);
}
.titlebar:after {
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
    content: '';
    height: var(--i-dtl-titlebarheight);
    left: 0;
    opacity: var(--i-dtl-imgopacity);
    position: absolute;
    top: 0;
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
}
.titlebar .win-buttons {
    height: var(--i-dtl-titlebarheight);
    right: 0;
    top: 0;
}
.titlebar .win-buttons button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: default;
    height: var(--i-dtl-titlebarheight);
    width: var(--i-dtl-buttonwidth);
}
.titlebar .titlebar-edge {
    height: var(--i-dtl-resizeheight);
}

/* Canary */
.titleBar-3_fDwJ {
    background-color: var(--i-dtl-bgcolor);
}
.titleBar-3_fDwJ:after {
    -webkit-app-region: no-drag;
    content: '';
    height: var(--i-dtl-resizeheight);
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
    z-index: 3002;
}
.titleBar-3_fDwJ.typeWindows-15E0Ys {
    height: var(--i-dtl-titlebarheight);
    margin-top: 0;
}
.titleBar-3_fDwJ .wordmark-2L03Wr svg,
.titleBar-3_fDwJ .winButton-U7zAqI svg {
    display: none;
}
.titleBar-3_fDwJ .wordmark-2L03Wr {
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: var(--i-dtl-titlebarheight);
    opacity: var(--i-dtl-imgopacity);
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
}
.titleBar-3_fDwJ .winButton-U7zAqI {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: default;
    height: var(--i-dtl-titlebarheight);
    top: 0;
    transition: 200ms ease;
    width: var(--i-dtl-buttonwidth);
}
