.markup .hljs::before{display:block;margin-bottom:10px;font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}

/* .markup .hljs[class~="" i]::before{content:'';} */
.markup .hljs[class~="1c" i]::before{content:'1C';}
.markup .hljs[class~="abnf" i]::before{content:'Augmented Backus–Naur Form';}
.markup .hljs[class~="accesslog" i]::before{content:'Access logs';}
.markup .hljs[class~="actionscript" i]::before{content:'ActionScript';}
.markup .hljs[class~="ada" i]::before{content:'Ada';}
.markup .hljs[class~="apache" i]::before{content:'Apache';}
.markup .hljs[class~="apacheconf" i]::before{content:'Apache';}
.markup .hljs[class~="arm" i]::before{content:'ARM assembler';}
.markup .hljs[class~="armasm" i]::before{content:'ARM assembler';}
.markup .hljs[class~="as" i]::before{content:'ActionScript';}
.markup .hljs[class~="atom" i]::before{content:'Atom Syndication Format';}
.markup .hljs[class~="autohotkey" i]::before{content:'AutoHotkey';}
.markup .hljs[class~="avrasm" i]::before{content:'AVR assembler';}
.markup .hljs[class~="bash" i]::before{content:'Bash';}
.markup .hljs[class~="basic" i]::before{content:'BASIC';}
.markup .hljs[class~="bat" i]::before{content:'Batch file (DOS)';}
.markup .hljs[class~="clj" i]::before{content:'Clojure';}
.markup .hljs[class~="clojure" i]::before{content:'Clojure';}
.markup .hljs[class~="cmd" i]::before{content:'Batch file (NT)';}
.markup .hljs[class~="coffee" i]::before{content:'CoffeeScript';}
.markup .hljs[class~="coffeescript" i]::before{content:'CoffeeScript';}
.markup .hljs[class~="cpp" i]::before{content:'C++';}
.markup .hljs[class~="cs" i]::before{content:'C#';}
.markup .hljs[class~="csharp" i]::before{content:'C#';}
.markup .hljs[class~="cson" i]::before{content:'CoffeeScript';}
.markup .hljs[class~="css" i]::before{content:'Cascading Stylesheet';}
.markup .hljs[class~="d" i]::before{content:'D';}
.markup .hljs[class~="dos" i]::before{content:'DOS';}
.markup .hljs[class~="elixir" i]::before{content:'Elixir';}
.markup .hljs[class~="elm" i]::before{content:'Elm';}
.markup .hljs[class~="gemspec" i]::before{content:'Ruby Gemspec';}
.markup .hljs[class~="go" i]::before{content:'Golang';}
.markup .hljs[class~="golang" i]::before{content:'Golang';}
.markup .hljs[class~="handlebars" i]::before{content:'Handlebars';}
.markup .hljs[class~="hbs" i]::before{content:'Handlebars';}
.markup .hljs[class~="html" i]::before{content:'Hypertext Markup Language';}
.markup .hljs[class~="html.handlebars" i]::before{content:'Handlebars';}
.markup .hljs[class~="html.hbs" i]::before{content:'Handlebars';}
.markup .hljs[class~="http" i]::before{content:'Hypertext Transfer Protocol';}
.markup .hljs[class~="https" i]::before{content:'Hypertext Transfer Protocol Secure';}
.markup .hljs[class~="iced" i]::before{content:'CoffeeScript';}
.markup .hljs[class~="ini" i]::before{content:'INI configuration file';}
.markup .hljs[class~="java" i]::before{content:'Java';}
.markup .hljs[class~="javascript" i]::before{content:'JavaScript';}
.markup .hljs[class~="js" i]::before{content:'JavaScript';}
.markup .hljs[class~="json" i]::before{content:'JavaScript Object Notation';}
.markup .hljs[class~="jsp" i]::before{content:'Java';}
.markup .hljs[class~="jsx" i]::before{content:'JavaScript';}
.markup .hljs[class~="mak" i]::before{content:'Makefile';}
.markup .hljs[class~="makefile" i]::before{content:'Makefile';}
.markup .hljs[class~="markdown" i]::before{content:'Markdown';}
.markup .hljs[class~="md" i]::before{content:'Markdown';}
.markup .hljs[class~="mk" i]::before{content:'Makefile';}
.markup .hljs[class~="mkd" i]::before{content:'Markdown';}
.markup .hljs[class~="mkdown" i]::before{content:'Markdown';}
.markup .hljs[class~="mm" i]::before{content:'Objective C++';}
.markup .hljs[class~="obj-c" i]::before{content:'Objective C';}
.markup .hljs[class~="objc" i]::before{content:'Objective C';}
.markup .hljs[class~="objectivec" i]::before{content:'Objective C';}
.markup .hljs[class~="plist" i]::before{content:'Property list';}
.markup .hljs[class~="podspec" i]::before{content:'Ruby Podspec';}
.markup .hljs[class~="prolog" i]::before{content:'Prolog';}
.markup .hljs[class~="py" i]::before{content:'Python';}
.markup .hljs[class~="python" i]::before{content:'Python';}
.markup .hljs[class~="rb" i]::before{content:'Ruby';}
.markup .hljs[class~="rs" i]::before{content:'Rust';}
.markup .hljs[class~="rss" i]::before{content:'Really Simple Sindication';}
.markup .hljs[class~="ruby" i]::before{content:'Ruby';}
.markup .hljs[class~="rust" i]::before{content:'Rust';}
.markup .hljs[class~="scss" i]::before{content:'Sassy Cascading Stylesheet';}
.markup .hljs[class~="sql" i]::before{content:'Structured Query Language';}
.markup .hljs[class~="swift" i]::before{content:'Swift';}
.markup .hljs[class~="ts" i]::before{content:'TypeScript';}
.markup .hljs[class~="typescript" i]::before{content:'TypeScript';}
.markup .hljs[class~="vb" i]::before{content:'Visual Basic';}
.markup .hljs[class~="vbnet" i]::before{content:'Visual Basic .NET';}
.markup .hljs[class~="vbs" i]::before{content:'Visual Basic Scripting';}
.markup .hljs[class~="vbscript" i]::before{content:'Visual Basic Scripting';}
.markup .hljs[class~="vim" i]::before{content:'Vim Script';}
.markup .hljs[class~="x86asm" i]::before{content:'x86 Assembly';}
.markup .hljs[class~="xhtml" i]::before{content:'Extensible Hypertext Markup Language';}
.markup .hljs[class~="xml" i]::before{content:'Extensible Markup Language';}
.markup .hljs[class~="xsd" i]::before{content:'Extensible Markup Language Schema Definition';}
.markup .hljs[class~="xsl" i]::before{content:'Extensible Markup Language Stylesheet';}
