.titleBar-3_fDwJ {
    display: flex;
    height: auto;
    width: 70px;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin-top: 0;
    padding: 10px;
    z-index: 3001;
    -webkit-app-region: no-drag;
}
.titleBar-3_fDwJ .winButton-U7zAqI {
    display: flex;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0;
    box-sizing: border-box;
    margin: auto;
    border-radius: 50%;
    opacity: 1;
    cursor: default;
    pointer-events: auto;
    -webkit-app-region: no-drag;
}
.titleBar-3_fDwJ .winButton-U7zAqI svg {
    background-position: center;
    background-size: 8px;
    background-repeat: no-repeat;
}
.titleBar-3_fDwJ:not(:hover) .winButton-U7zAqI svg {
    visibility: hidden;
}
.titleBar-3_fDwJ .wordmark-2L03Wr,
.titleBar-3_fDwJ .winButton-U7zAqI svg rect,
.titleBar-3_fDwJ .winButton-U7zAqI svg polygon {
    display: none;
}

/* Close button */
.titleBar-3_fDwJ div:nth-of-type(2) {
    background-color: #fc615d;
    order: 1;
}
.titleBar-3_fDwJ div:nth-of-type(2):active {
    background-color: #ca4e4a;
}
.titleBar-3_fDwJ div:nth-of-type(2) svg {
    background-image: url(https://raw.githubusercontent.com/intrnl/discordAdditions/master/macTitlebar/resources/btn-close.svg);
}

/* Minimize button */
.titleBar-3_fDwJ div:nth-of-type(4) {
    background-color: #fdbc40;
    order: 2;
}
.titleBar-3_fDwJ div:nth-of-type(4):active {
    background-color: #ca9633;
}
.titleBar-3_fDwJ div:nth-of-type(4) svg {
    background-image: url(https://raw.githubusercontent.com/intrnl/discordAdditions/master/macTitlebar/resources/btn-minimize.svg);
}

/* Maximize button */
.titleBar-3_fDwJ div:nth-of-type(3) {
    background-color: #34c749;
    order: 3;
}
.titleBar-3_fDwJ div:nth-of-type(3):active {
    background-color: #2a9f3a;
}
.titleBar-3_fDwJ div:nth-of-type(3) svg {
    background-image: url(https://raw.githubusercontent.com/intrnl/discordAdditions/master/macTitlebar/resources/btn-maximize.svg);
}

/* Appearance tweak */
.guilds-wrapper {
    margin-top: 32px;
}
.headerBar-cxbhPD,
.title-qAcLxz,
.titleCall-3X0yGQ,
.notice {
    -webkit-app-region: drag;
}
.title-qAcLxz *,
.backdrop-2ohBEd {
    -webkit-app-region: no-drag;
}
.headerBar-cxbhPD:before,
.title-qAcLxz:before,
.titleCall-3X0yGQ:before,
.notice:before {
    content: '';
    display: block;
    height: 4px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    -webkit-app-region: no-drag;
}
.backdrop-2ohBEd:before,
.layer .ui-standard-sidebar-view:before {
    content: '';
    display: block;
    height: calc(32px - 4px);
    width: calc(100vw - 72px);
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 3001;
    -webkit-app-region: drag;
}
