.guilds-wrapper {
    margin-top: 32px;
}
.headerBar-cxbhPD,
.title-qAcLxz,
.titleCall-3X0yGQ,
.notice {
    -webkit-app-region: drag;
}
.headerBar-cxbhPD:before,
.title-qAcLxz:before,
.titleCall-3X0yGQ:before,
.notice:before {
    content: '';
    display: block;
    height: 4px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    -webkit-app-region: no-drag;
}

.titleBar-3_fDwJ {
    display: flex;
    height: auto;
    width: 70px;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin-top: 0;
    padding: 10px;
    -webkit-app-region: no-drag;
}
.titleBar-3_fDwJ .winButton-U7zAqI {
    display: flex;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0;
    box-sizing: border-box;
    margin: auto;
    border-radius: 50%;
    background-position: center;
    background-size: 8px;
    background-repeat: no-repeat;
    opacity: 1;
    cursor: default;
    pointer-events: auto;
    -webkit-app-region: no-drag;
}
.titleBar-3_fDwJ .wordmark-2L03Wr,
.titleBar-3_fDwJ .winButton-U7zAqI svg {
    display: none;
}

.titleBar-3_fDwJ div:nth-of-type(2) {
    background-color: #fc615d;
    order: 1;
}
.titleBar-3_fDwJ div:nth-of-type(2):active {
    background-color: #ca4e4a;
}
.titleBar-3_fDwJ:hover div:nth-of-type(2) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYuNCA2LjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDxwb2x5Z29uIGZpbGw9IiM0ZDAwMDAiIHBvaW50cz0iNi40LDAuOCA1LjYsMCAzLjIsMi40IDAuOCwwIDAsMC44IDIuNCwzLjIgMCw1LjYgMC44LDYuNCAzLjIsNCA1LjYsNi40IDYuNCw1LjYgNCwzLjIiPjwvcG9seWdvbj4NCjwvc3ZnPg==);
}
.titleBar-3_fDwJ div:nth-of-type(3) {
    background-color: #34c749;
    order: 3;
}
.titleBar-3_fDwJ div:nth-of-type(3):active {
    background-color: #2a9f3a;
}
.titleBar-3_fDwJ:hover div:nth-of-type(3) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDcuOSA3LjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDxwb2x5Z29uIGZpbGw9IiMwMzY0MDMiIHBvaW50cz0iNy45LDQuNSA3LjksMy40IDQuNSwzLjQgNC41LDAgMy40LDAgMy40LDMuNCAwLDMuNCAwLDQuNSAzLjQsNC41IDMuNCw3LjkgNC41LDcuOSA0LjUsNC41Ij48L3BvbHlnb24+DQo8L3N2Zz4=);
}
.titleBar-3_fDwJ div:nth-of-type(4) {
    background-color: #fdbc40;
    order: 2;
}
.titleBar-3_fDwJ div:nth-of-type(4):active {
    background-color: #ca9633;
}
.titleBar-3_fDwJ:hover div:nth-of-type(4) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDggMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiAgICA8cmVjdCBmaWxsPSIjOTk1NzAwIiB3aWR0aD0iOCIgaGVpZ2h0PSIxLjEiPjwvcmVjdD4NCjwvc3ZnPg==);
}
