.notice {
    position: absolute;
    top: 48px;
    bottom: unset;
    right: 0;
    left: unset;
    width: calc(100vw - 70px);
    border-radius: 0;
}
.notice.notice-streamer-mode {
    top: 70px;
}