.notice{bottom:20px;box-sizing:border-box;height:auto;line-height:28px;min-height:40px;padding:6px 40px 6px 15px;position:absolute;right:20px;z-index:3000;border-radius:0;}
.notice .btn{margin:-4px 0 0 10px;line-height:25px;}
.notice .notice-dismiss{bottom:0;height:40px;background-position:center;top:unset;}
.notice+.notice:after{content:'...';position:absolute;bottom:45px;right:0px;height:15px;line-height:10px;padding:0 10px;background-color:#7298da;}

.notice.notice-brand+.notice:after{background-color:#7298da;}
.notice.notice-danger+.notice:after{background-color:#f04747;}
.notice.notice-enable-notifications{background-color:#43b581;}
.notice.notice-info+.notice:after{background-color:#4a90e2;}
.notice.notice-streamer-mode+.notice:after{background-color:#593695;}
.notice.notice-success+.notice:after{background-color:#43b581;}

#pluginNotice+div .notice:after{content:'...';position:absolute;bottom:45px;right:0px;height:15px;line-height:10px;padding:0 10px;background-color:#4a90e2;}