div[class*="titleBar-"] {
    height: 0px;
    margin-top: 0px;
}
div[class*="titleBar-"]:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 6px;
    height: 14px;
    z-index: 3002;
    -webkit-app-region: drag;
}
div[class*="titleBar-"]:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    z-index: 3002;
}
div[class*="wordmark-"], div[class*="winButton-"] svg {
    display: none;
}
div[class*="winButton-"] {
    top: 9px;
    height: 30px;
    width: 30px;
    right: 8px;
    background-position: center;
    opacity: .6;
    transition: 200ms ease;
}
div[class*="winButton-"]:hover {
    background-color: transparent;
    opacity: 1;
}
div[class*="titleBar-"] div:nth-of-type(2) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwIDcuNDFMMTguNTkgNiAxMyAxMS41OSA3LjQxIDYgNiA3LjQxIDExLjU5IDEzIDYgMTguNTkgNy40MSAyMCAxMyAxNC40MSAxOC41OSAyMCAyMCAxOC41OSAxNC40MSAxMyAyMCA3LjQxeiIvPgogIDwvZz4KPC9zdmc+);
}
div[class*="titleBar-"] div:nth-of-type(3) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTggMTNINnY3aDd2LTJIOHYtNXptLTIgMGgyVjhoNVY2SDZ2N3ptNyA1djJoN3YtN2gtMnY1aC01em0wLTEydjJoNXY1aDJWNmgtN3oiLz4KICA8L2c+Cjwvc3ZnPg);
}
div[class*="titleBar-"] div:nth-of-type(4) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xOSAxOXYtMkg3djJoMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMSAyNWgyNFYxSDF2MjR6Ii8+CiAgPC9nPgo8L3N2Zz4=);
    margin-left: 8px;
}

.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-'],
#friends [class*='flex-'] [class*='flex-']:last-of-type,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type {
    margin-right: 98px;
}
.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after,
#friends [class*='flex-'] [class*='flex-']:last-of-type:after,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {
    content: '';
    width: 1px;
    height: 22px;
    background-color: hsla(240,6%,97%,.1);
}
